.vollkorn{ font-family:'Vollkorn', serif; }

.warning{
    position: absolute;
    color: red;
}

.success{
    color: green;
    text-align: center;
}
.error{
    color: red;
    text-align: center;
}
